:root {
    --primary-color:#14b383;
    --secondary-color:#4ed9b6;
    --background-1-color:#edebed;
    --background-2-color: #f5fff4;    
}
.Fondo{
    display: flex;
    justify-content: center;
}
.Agregar{
    width: 100%;
    height: 10vh;
    display: flex;      
    align-items: center;
    flex-direction: row;
    background-color:var(--background-1-color);
    box-shadow: 2px 2px 2px 1px rgba(18, 136, 107, 0.425);   
}

.ComponentesBuscador{    
    width: 35%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
    margin-right: 15px;
    height: 7vh;
    
}
input[type=text]{
    height: 75%;
    width: 60%;
    border-radius: 5px;
}
input[type=text]:focus{
    border-radius: 5px;
    border-color: rgba(20, 179, 131,0.5);

}
.ComponentesBuscador .btnb{
    
    width: 30%;
    height: 100%;
    margin-left: auto;
    padding:2px;
    border-radius: 5px;
    display: flex;  
    justify-content: center;
    align-items: center;
    background-color:#14b383;
    color:#fff;
    font-weight: bold;
}
.btnb:hover{
    background-color: #82f5de;
    box-shadow: 2px 2px 2px 1px  rgba(18, 136, 107, 0.425);
}
.form{
    background-color:#edebed;  
    
}
.FormularioCompletoCiclos{
    width: 80%;
    margin: 0 auto;
}
.Agregar .btn{
    display: flex;
    width: 20%;
    height: 7vh;
    margin:15px;
    padding:2px;
    border-radius: 5px;
    display: flex;  
    justify-content: center;
    align-items: center;
    background-color:#14b383;
    color:#fff;
    font-weight: bold;
}
.Agregar .btn:hover{
    background-color:#82f5de;
    box-shadow: 2px 2px 2px 1px rgba(18, 136, 107, 0.425);
}
.Ciclos{
    display: flex;
    flex-wrap: wrap;    
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: #f5fff4;
    justify-content: space-around;
    align-content: flex-start;

}
.Ciclo{  
    margin: 50px 15px;
    border: 1px solid rgba(20, 179, 131,0.5);
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color:#edebed;  
    border-radius: 10px;
    width: 20%;
    height: 31vh;
}
.Ciclo:hover{
    box-shadow: 2px 2px 2px 1px rgba(18, 136, 107, 0.425);
}
.Titulo{
    height: 10vh;
    display: flex;
    flex-direction: column;
}

.btnes{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.bt{
    
    height: 6vh;
    border-radius: 5px;    
    width: 45%;
    margin: 5px;
    display: flex;  
    justify-content: center;
    align-items: center;
    background-color:#14b383;
    color:#fff;
    font-weight: bold;
}
.bt:hover{
    
        background-color:#82f5de;
       
}
.Contenido{
    display: flex;
    flex-direction: column;
}
.Fechas{
    display: flex;
    flex-direction: column;
}