:root {
    --primary-color:#14b383;
    --secondary-color:#4ed9b6;
    --background-1-color:#edebed;
    --background-2-color: #f5fff4;    
}

.PedidosProveedor{
    display: flex;
    flex-wrap: wrap;    
    max-width: 100%;
    max-height: 100%;    
    background-color: #f5fff4;
    justify-content: space-around;
}
.pedidoProveedor{
    margin-top: 40px;
    margin-right: 10px;    
    border:2px solid  #14b383;
    width: 20%;
    height: 60vh;    
    border-radius: 10px;
    background-color: #edebed;  
    overflow: hidden;
    

}
.PedidosProveedorh{
   
display: flex;
flex-direction: column;
}
.PedidosProveedorhh{
    padding: 5px;
    height: 40vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    scrollbar-width: none; 
    text-align: center;  
    
   
}
.PedidoProveedorh{
    
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid  #14b383;
    margin-bottom: 5px;
}
.PedidoProveedorh label{
   
    font-weight: bold;
}
.TituloContenedor{
   background-color: #14b383;
   display: flex;  
   justify-content: center;
   align-items: center;
   color: #fff;
   font-size: 20px;
}

.Bajo{    
    height: 13vh;
    border-top: 1px solid  #14b383;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Bajo label{
    height: 3vh;
    width: 100%;
    text-align: center;

}

.Bajo .bton{
    display: flex;
    height:s10vh; 
    width: 100%;   
    flex-direction: column;
    align-items: center;
      
}

.bton .bt{   
    border-radius: 5px;    
    display: flex;  
    justify-content: center;
    align-items: center;
    background-color: #14b383;
    color:#fff;
    font-weight: bold;
}

