*{
    margin:0px;
    padding:0px;
    max-width: 100%;
    max-height: 100vh;
    }
    
body{
     background-color: #f5fff4;
    }


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}